	<!doctype html>
		<head>
			<meta charset="utf-8">
			<title>Choose Player</title>
			<meta name="description" content="">
			<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
			<script>

				//Simple function to assist in readability of jQuery, capitilizes first letter of word
				function capitaliseFirstLetter(string)
				{
    				return string.charAt(0).toUpperCase() + string.slice(1);
				}

				//document ready function (note that $ replaces jQuery().ready). Hell yes for concise code!
				$(function($){
					//hide the radio buttons
					$('#characterForm input:radio').addClass('input_hidden');
					//when a label is clicked, its corresponding radio button is selected and its siblings are deselected
					$('#characterForm label').click(function(){
						$('#character1').removeClass('glowing').nextAll().removeClass('glowing');
						$('#character4').removeClass('glowing').nextAll().removeClass('glowing');
					    $(this).addClass('glowing');

					    var glow = $('.glowing');
					    setInterval(function(){
						    glow.hasClass('glow') ? glow.removeClass('glow') : glow.addClass('glow');
						}, 2000);
					});
				});

			//handle clicks for each radiobutton in order to change the central image
			function changeMainImage(selector, name){
				// console.log(selector)
				$('#imageBox').css("background-image", "url(/images/characters/"+ selector+")"); 
				//We could load this information from somewhere either async, or have it sent out to the
				//page into the value of the labels maybe?
				$('#characterName').text(name);
				description = getDescription(name);
				$('#characterDescription').text(description);
				// console.log("images/characters/" + selector)
				// $("#imageBox").text("The image should be #: " + selector);
			}

			//handle displaying the title and description of each character, based on its name. 
			function getDescription(name){
				switch(name){
					case 'Betty, Queen of Rats':
						return "The sexiest of all rats, and the most regal. Betty is fear and envied.";
						break;
					case 'Jason H.':
						return "Master of rat-geneering.";
						break;
					case 'The RatMan':
						return "Its simple. We kill the ratman.";
						break;
					case 'The Crazy Cat Lady':
						return "BLARARARGHAR BULBLBB.";
						break;
					case 'The Big Lebowscat':
						return "Dude...";
						break;
					case 'Tommy Cat':
						return "That is one bad-ass cat.";
						break;
					default:
						return "The default case";
						break;
				}
			}
		</script>
	</head>

		<body>
		  
			<div id="container" class="shadow">
				<form id="characterForm" method="post">
				<div id="characterStripLeft">
					<input type="radio" name="characterGroup" id="character1" value="character1" onclick="changeMainImage('betty.jpg', 'Betty, Queen of Rats')"/>
			        <label for="character1"><img src="images/characters/thumbs/bettyThumb.png"/></label>

					<input type="radio" name="characterGroup" id="character2" value="character2" onclick="changeMainImage('jason.jpg', 'Jason H.')"/>
			        <label for="character2"><img src="images/characters/thumbs/jasonThumb.png"/></label>

					<input type="radio" name="characterGroup" id="character3" value="character3" onclick="changeMainImage('ratMan.jpg', 'The RatMan')"/>
			        <label for="character3"><img src="images/characters/thumbs/batRatThumb.png"/></label>
				</div><!--end characterStripLeft-->

			     <div id="characterStripRight">
					<input type="radio" name="characterGroup" id="character4" value="character4" onclick="changeMainImage('catLady.jpg', 'The Crazy Cat Lady')"/>
			        <label for="character4"><img src="images/characters/thumbs/catLadyThumb.png"/></label>

					<input type="radio" name="characterGroup" id="character5" value="character5" onclick="changeMainImage('lebowsCat.jpg', 'The Big Lebowscat')"/>
			        <label for="character5"><img src="images/characters/thumbs/lebowsCatThumb.png"/></label>

					<input type="radio" name="characterGroup" id="character6" value="character6" onclick="changeMainImage('tommyCat.jpg', 'Tommy Cat')"/>
			        <label for="character6"><img src="images/characters/thumbs/tommyCatThumb.png"/></label>
				</div><!--end characterStripRight-->

	 				 <div id="imageBox" class="shadow"></div><!-- end imageBox -->

 				<div id="characterInfo">
 					<h2 id="characterName">Choose your Character</h2>
 					<p id="characterDescription">Hold tight your buns, if buns you do hold dear.</p>
	 				</br>
 					<input id="characterButton" class="submitButton" type="submit">
 				</div><!-- end characterInfo-->
 						
			</form><!-- end characterForm-->
		</div><!-- end container-->

		</body>
	</html>
