{% block creditsLightbox %}
		<!-- Credits Button Lightbox-->
	  	<div id="creditsBox">
	  	</div><!-- end creditsBox-->
		<div class="jqmWindow hideMe" id="creditsDialog">
			<a href="#" class="jqmClose">Close</a>
			<h3>Credits</h3>
			<p>
				Rat-a-Tat Cat is a great game made by 
				<a href="http://www.gamewright.com/gamewright/index.php?section=games&page=game&show=61"> 
					GameWright.
				</a>
				As part of our Software Engineering Class at the University of Vermont, we were given the task of rendering
				their game to be played on the computer. Although the characters and intro art were done by us, the rules
				(despite slight modifications) as well as all of the card art is the intellectual property of GameWrite, and we
				give them full credit for it. 
			</p>

			<h3>Who we are:</h3>
			<p>
				<dl>
					<dt>
						<a href="https://github.com/bceberio/softwareEngineeringFinalProject/contributors" class="credits">
							Bryan Ceberio-Lucas
						</a>
					</dt>
						<!-- <dd>Database Design</dd> -->
					<dt>
						<a href="https://github.com/EJEHardenberg/softwareEngineeringFinalProject/contributors" class="credits">
							Ethan Eldridge
						</a>
					</dt>
						<!-- <dd>Git Master</dd> -->
					<dt>
						<a href="https://github.com/pmleblanc/softwareEngineeringFinalProject/contributors" class="credits">
							Peter LeBlanc
						</a>
					</dt>
						<!-- <dd>Concept Artist</dd> -->
					<dt>
						<a href="https://github.com/the-hobbes/softwareEngineeringFinalProject/contributors" class="credits">
							Phelan Vendeville
						</a>
					</dt>
						<!-- <dd>Team Lead</dd> -->
				</dl>
			</p>
		</div><!-- end startDialog-->
	  	<!-- End Credits Button Lightbox-->

{% endblock %}