{% block creditsLightbox %}
		<!-- Credits Button Lightbox-->
	  	<div id="creditsBox">
	  		<a href="#"><button id="creditsButton" class="shadow ">Credits</button></a>
	  	</div><!-- end creditsBox-->
		<div class="jqmWindow hideMe" id="creditsDialog">
			<a href="#" class="jqmClose">Close</a>
			<p>
				<dl>
					<dt>Bryan Ceberio-Lucas</dt>
						<dd>Database Design</dd>
					<dt>Ethan Eldridge</dt>
						<dd>Git Master</dd>
					<dt>Peter LeBlanc</dt>
						<dd>Concept Artist</dd>
					<dt>Phelan Vendeville</dt>
						<dd>Team Lead</dd>
				</dl>
			</p>
		</div><!-- end startDialog-->
	  	<!-- End Credits Button Lightbox-->

{% endblock %}