{% block creditsLightbox %}
		<!-- Credits Button Lightbox-->
	  	<div id="creditsBox">
	  	</div><!-- end creditsBox-->
		<div class="jqmWindow hideMe" id="creditsDialog">
			<a href="#" class="jqmClose">Close</a>
			<p>
				<dl>
					<dt>
						<a href="https://github.com/bceberio/softwareEngineeringFinalProject/contributors" class="credits">
							Bryan Ceberio-Lucas
						</a>
					</dt>
						<dd>Database Design</dd>
					<dt>
						<a href="https://github.com/EJEHardenberg/softwareEngineeringFinalProject/contributors" class="credits">
							Ethan Eldridge
						</a>
					</dt>
						<dd>Git Master</dd>
					<dt>
						<a href="https://github.com/pmleblanc/softwareEngineeringFinalProject/contributors" class="credits">
						Peter LeBlanc
						</a>
					</dt>
						<dd>Concept Artist</dd>
					<dt>
						<a href="https://github.com/the-hobbes/softwareEngineeringFinalProject/contributors" class="credits">
						Phelan Vendeville
						</a>
					</dt>
						<dd>Team Lead</dd>
				</dl>
			</p>
		</div><!-- end startDialog-->
	  	<!-- End Credits Button Lightbox-->

{% endblock %}