<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Game</title>
		<meta name="description" content="">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	</head>

	<body>
	 	<div id="infoBox">
	 		<p>Here is a link to the rules</p>
	 		<p>Here is a link to the credits</p>
	 		<p>Here is a link to the scores</p>
	 		<p>Here is a link to quit</p>
	 	</div><!--end infobox-->
		<div id="container" class="shadow">
			<div id="opponentCards" class="shadow">
				<div id="opCard1"></div>
				<div id="opCard2"></div>
				<div id="opCard3"></div>
				<div id="opCard4"></div>				
			</div><!--end opponentCards-->

			<div id="discardPile" class="shadow"></div><!--end discardPile-->
			<div id="deck" class="shadow"></div><!--end deck-->
			<div id="currentCard" class="shadow"></div><!--end currentCard-->
			<a href="#"><button id="knockButton" class="shadow">Knock</button></a><!--end knockButton-->

			<div id="playerCards" class="shadow">
				<div id="playerCard1"></div>
				<div id="playerCard2"></div>
				<div id="playerCard3"></div>
				<div id="playerCard4"></div>
			</div><!--end playerCards-->
		</div><!-- end container -->

	</body>
</html>