<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Game</title>
		<meta name="description" content="">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	</head>

	<body>
	 	<div id="infoBox">
	 		<p>Here is a link to the rules</p>
	 		<p>Here is a link to the credits</p>
	 		<p>Here is a link to the scores</p>
	 		<p>Here is a link to quit</p>
	 	</div><!--end infobox-->
		<div id="container" class="shadow">
			<div id="opponentCards"></div><!--end opponentCards-->
			<div id="discardPile"></div><!--end discardPile-->
			<div id="deck"></div><!--end deck-->
			<div id="currentCard"></div><!--end currentCard-->
			<div id="knockButton"></div><!--end knockButton-->
			<div id="playerCards"></div><!--end playerCards-->
		</div><!-- end container -->

	</body>
</html>