<!doctype html>
	<head>
		<meta charset="utf-8">
		<title>Landing Page</title>
		<meta name="description" content="">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/jqModal.css" type="text/css" media="screen">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="scripts/jquery.tubular.1.0.js"></script>
		<script src="scripts/jqModal.js"></script>
		<script src="scripts/audio.js"></script>
		<script>
		jQuery().ready(function($){

			//initialize each hidden dialog div with before it can be shown
			// $('#startDialog').jqm();
			$('#creditsDialog').jqm();
			$('#rulesDialog').jqm();

			//add event handlers to each button, which will fire when clicked and call jqmShow() on the dialogs
			 // $('#startButton').live('click',function(){
			 //      $('#startDialog').jqmShow();
			 // });
			 $('#creditsButton').live('click',function(){
			      $('#creditsDialog').jqmShow();
			 });
			 $('#rulesButton').live('click',function(){
			      $('#rulesDialog').jqmShow();
			 });

			// this is a call to the tubular method of jquery.tubular to render an inspirational background video
			$('#videoContainer').tubular({videoId: 'WdUyHe7XTEY'}); // where idOfYourVideo is the YouTube ID.
		});
		</script>
	</head>

	<body>

	  <div id="container" class="shadow translucent">

		<div id="videoContainer"></div><!-- end videoContainer -->	  

	  	<div id="imageBox" class="shadow"><img src="../images/mainImage.png" alt=""/></div><!-- end imageBox-->

	  	<div id="startBox">
	  		<form action="/playerinfo" method="GET"><button id="startButton" class="shadow">Start</button></form>
	  	</div><!-- end startBox-->

	  	<button id="creditsButton" class="shadow ">Credits</button>
		{% include "credits.html" %}

  		<button id="rulesButton" class="shadow ">Rules</button>
  		{% include "rules.html" %}

	  	<div id="scoresBox">
	  		<form action="/scores" method="get"><button class="shadow">Scores</button></form>
	  	</div><!-- end scoresBox-->
	  	<div id="gitBox" class="centerText"><a href="https://github.com/the-hobbes/softwareEngineeringFinalProject"> Take a gander at our project on GitHub!</a></div><!-- end gitBox-->
	  	<div id="sound" ></div>
	  </div><!--end container-->
			<!-- begin analytics code -->
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-40175389-1', 'rat-a-tat-cat.appspot.com');
			  ga('send', 'pageview');

			</script>
			<!-- end analytics code -->
			<script type="text/javascript">
				insertAudio('sounds/landing.wav');

			</script>
	</body>
</html>