<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Landing Page</title>
		<meta name="description" content="">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/jqModal.css" type="text/css" media="screen">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="scripts/jqModal.js"></script>
		<script>
		jQuery().ready(function($){

			//initialize each hidden dialog div with before it can be shown
			// $('#startDialog').jqm();
			$('#creditsDialog').jqm();
			$('#rulesDialog').jqm();

			//add event handlers to each button, which will fire when clicked and call jqmShow() on the dialogs
			 // $('#startButton').live('click',function(){
			 //      $('#startDialog').jqmShow();
			 // });
			 $('#creditsButton').live('click',function(){
			      $('#creditsDialog').jqmShow();
			 });
			 $('#rulesButton').live('click',function(){
			      $('#rulesDialog').jqmShow();
			 });
		});
		</script>
	</head>

	<body>

	  <div id="container" class="shadow">

	  	<div id="imageBox" class="shadow"></div><!-- end imageBox-->

	  	<div id="startBox">
	  		<a href="/playerinfo"><button id="startButton" class="shadow">Start</button></a>
	  	</div><!-- end startBox-->

		<!-- Credits Button Lightbox-->
	  	<div id="creditsBox">
	  		<a href="#"><button id="creditsButton" class="shadow ">Credits</button></a>
	  	</div><!-- end creditsBox-->
		<div class="jqmWindow hideMe" id="creditsDialog">
			<a href="#" class="jqmClose">Close</a>
			<p>This is a lightbox for the credits thing. Fill this up with credits.</p>
		</div><!-- end startDialog-->
	  	<!-- End Credits Button Lightbox-->

	  	<!-- Rules Button Lightbox-->
	  	<div id="rulesBox">
	  		<a href="#"><button id="rulesButton" class="shadow ">Rules</button></a>
	  	</div><!-- end rulesBox-->
		<div class="jqmWindow hideMe" id="rulesDialog">
			<a href="#" class="jqmClose">Close</a>
			<p>This is a lightbox for the rules thing. Fill this up with rules.</p>
		</div><!-- end startDialog-->
	  	<!-- End Rules Button Lightbox-->

	  	<div id="scoresBox">
	  		<a href="/scores"><button class="shadow">Scores</button></a>
	  	</div><!-- end scoresBox-->
	  	<div id="gitBox" class="centerText"><a href="https://github.com/the-hobbes/softwareEngineeringFinalProject"> Take a gander at our project on GitHub!</div><!-- end gitBox-->

	  </div><!--end container-->

	</body>
</html>