<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Landing Page</title>
		<meta name="description" content="">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	</head>

	<body>

		<div id="container" class="shadow">

			<div id="topTen" class="shadow">
				<h2>Top 10 Players</h2>
				<hr>
				<!-- print out each of the top ten, and their score -->
				<!-- also, use a counter to set an item as even or odd for styling purposes -->
				<ul>
				{%for key in sortedKeys%}
					<li class="{{ loop.cycle('odd', 'even') }}">
						<span class="playerName">{{key}}</span>
						<span>, with a score of </span> 
						<span class="playerScore">{{topTen[key]}}</span>
					</li>
				{% endfor %}
				</ul>
				<a href="/"><button id="homeButton" class="shadow">Home</button></a>
			</div><!--end topten-->

			
		</div><!--end container-->

	</body>
</html>
				<!-- 
				{% set i=0 %}
				{%for key in sortedKeys%}
					<div class="{{i%2}}">
						<div id="playerName" class="{{i%2}}">{{key}}</div> <div id="playerScore">{{topTen[key]}}</div>
						</br>
					</div>
					{% set i=i+1 %}
				{% endfor %} -->