<!doctype html>
	<head>
		<meta charset="utf-8">
		<title>Landing Page</title>
		<meta name="description" content="">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	</head>
	<body>
		<div id="container" class="shadow">
			<div id="topTen" class="shadow">
				<!-- print out the player's total score, total games/rounds played, wins and losses -->
				<div id="hacksAreUs">
				{% for player in players %}
					
						<h2>Player <span class="playerName">{{player.name}}</span>'s Info</h2>
						<img src="images/characters/thumbs/{{thumbnailImage}}">
					<p></p>
						<ul>
							<li>Total Score: <span style="color:pink">{{player.scoreTotal}}</span></li>
							<li>Total Games Played: <span style="color:pink">{{player.games}}</span></li>
							<li>Games Won: <span style="color:pink">{{player.gamesWon}}</span></li>
							<li>Games Lost: <span style="color:pink">{{player.gamesLost}}</span></li>
							<li>Total Rounds Played: <span style="color:pink">{{player.roundsTotal}}</span></li>
							<li>Rounds Won: <span style="color:pink">{{player.roundsWonTotal}}</span></li>
							<li>Rounds Lost: <span style="color:pink">{{player.roundsLostTotal}}</span></li>
						</ul>
					
				{% endfor %}
			</div>
				</br>
				<a href='/scores'><button id="scoresButton" class="shadow">Scores</button></a>
				<a href='/'><button id="homeButton" class="shadow">Home</button></a>
			</div>
		</div>
	</body>
</html>