<!doctype html>
	<head>
		<meta charset="utf-8">
		<title>Unit Tests</title>
		<meta name="description" content="Unit Tests for this project">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	</head>

	<body>

		<div id="container" class="shadow">

			<div id="topTen" class="shadow unitTest">
				<h1>Unit Tests</h1>
				<hr>
				<ul>
					<li>
						<fieldset>
							<legend>Database Statistics</legend>
							{{totalBytes}} <br />
							{{totalEntities}} <br />
						</fieldset>
					</li>
				{%for test in tests%}
					<li>
						<fieldset>
							<legend>Test Name: <span class="unitTest">{{test.name}}</span></legend>
							{% if test.passed %}
								<span class="unitPass">The test has passed</span><br />
							{% else %}
								<span class="unitFail">The test has failed</span><br />
							{% endif %}
							<p class="unitTest">
								{{test.message}}
							</p>
						</fieldset>
					</li>
				{% endfor %}
				</ul>
			</div><!--end topten-->

			
		</div><!--end container-->
			<!-- begin analytics code -->
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-40175389-1', 'rat-a-tat-cat.appspot.com');
			  ga('send', 'pageview');

			</script>
			<!-- end analytics code -->
	</body>
</html>