<!doctype html>
	<head>
		<meta charset="utf-8">
		<title>Unit Tests</title>
		<meta name="description" content="Unit Tests for this project">
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	</head>

	<body>

		<div id="container" class="shadow">

			<div id="topTen" class="shadow unitTest">
				<h1>Unit Tests</h1>
				<hr>
				<ul>
					<li>
						<fieldset>
							<legend>Database Statistics</legend>
							{{totalBytes}} <br />
							{{totalEntities}} <br />
						</fieldset>
					</li>
				{%for test in tests%}
					<li>
						<fieldset>
							<legend>Test Name: <span class="unitTest">{{test.name}}</span></legend>
							{% if test.passed %}
								<span class="unitPass">The test has passed</span><br />
							{% else %}
								<span class="unitFail">The test has failed</span><br />
							{% endif %}
							<p class="unitTest">
								{{test.message}}
							</p>
						</fieldset>
					</li>
				{% endfor %}
				</ul>
			</div><!--end topten-->

			
		</div><!--end container-->

	</body>
</html>