/*
  Style.css, the main styling document for the application.
  Phelan Vendeville
  2MAR2013
*/
@import url(http://fonts.googleapis.com/css?family=Tauri);

/*
  This block of styling is used to format the main divisions of the Landing page
*/
body {
  min-width: 960px;
  font-family: 'Tauri', sans-serif;
}
#container{
  width:900px;
  background-color: #C4C4C4;
  height:625px;
  margin:0px auto;
  padding-top:10px;
  margin-top:20px;
}
#imageBox{
  width:500px;
  height:400px;
  background-color: white;
  margin:0px auto;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
#startBox{
  margin-right: 5px;
  float: left;
  margin-left: 40px;
}
#creditsBox{
  margin-right: 5px;
  float:left;
}
#rulesBox{
  margin-right: 5px;
  float:left;
}
#scoresBox{
  margin-right: 5px;
  float:left;
  margin-bottom: 50px;
}
#gitBox{
  clear:both;
  background-color: black;
  height:20px;
  width:900px;
  color:white;
  padding-top:5px;
  padding-bottom: 5px;
}
/*
  Snappy styling global to all pages.
*/
.glowing {
    -webkit-transition: box-shadow 1s linear;
    -moz-transition: box-shadow 1s linear;
    -ms-transition: box-shadow 1s linear;
    -o-transition: box-shadow 1s linear;
    transition: box-shadow 1s linear;
    background-color: #FF0000;
}

.glowing:hover,
.glowing.glow {
    box-shadow: 0 0 10px 7px #FF0000;
    /*1BA5E0;*/
}
.shadow{
  /*box-shadow: 5px 5px 15px #000;*/
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.centerText{
  text-align: center;
}
a:link {text-decoration:none; color: #FFFFFF}   /* unvisited link */
a:visited {text-decoration:none; color: #FF0000} /* visited link */
a:hover {text-decoration:underline;}  /* mouse over link */
a:active {text-decoration:underline;} /* selected link */

button{
  font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  padding:14px;
  background:url(../images/buttonGloss.png) repeat-x center #212121;
  background-color:rgba(97,97,97,1);
  border:1px solid #212121;
  -moz-border-radius:10px;-webkit-border-radius:10px;
  border-radius:10px;
  border-bottom:1px solid #212121;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  cursor:pointer;
  width:200px;
}
button:hover{background-color:rgba(59,59,59,0.8);}
button:active{position:relative;top:2px;}
/*
  Lightbox styling
*/
.hideMe{
  z-index: 3000; display: none;
}
/*
  Styling for the player information page.
*/
#userEntry{
  width:400px;
  background-color: white;
  margin:0px auto;
  margin-top:150px;
  text-align: center;
  -moz-border-radius: 25;
  -webkit-border-radius: 25px;
  padding:10px;
}
.inset {
   -moz-box-shadow: inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 0 0 10px #000000;
   background-color: #EBEBEB;
}
.error{
  background-color: red;
}
#nameEntry{
  /*float:left;*/
  height:25px;
  margin-bottom: 5px;
  font:1.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  color:gray;
}
#ageEntry{
  /*clear:left; */
  /*display:block; */
  font:1.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  color:gray;
}
#infoForm{
  width:290px;
  margin:0px auto;
}
.submitButton{
  font:1.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  padding:14px;
  background:url(../images/buttonGloss.png) repeat-x center #212121;
  background-color:rgba(97,97,97,1);
  border:1px solid #212121;
  -moz-border-radius:10px;-webkit-border-radius:10px;
  border-radius:10px;
  border-bottom:1px solid #212121;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  cursor:pointer;
  width:100px;
}
submitButton:hover{background-color:rgba(59,59,59,0.8);}
submitButton:active{position:relative;top:2px;}

/*
  Styling for the character choice page.
*/
#characterStrip{
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  background-color: #EBEBEB;
  overflow-x: scroll; 
  overflow-y:hidden;
  white-space: nowrap;
}
#characterStripLeft{
  float: left;
  margin-left: 25px;
}
#characterStripRight{
  float: right;
  margin-right: 25px;
}
#characterButton{
  clear: both;
}
.input_hidden{
    position: absolute;
    left: -9999px;
}
.selected{
    background-color: #1BA5E0;
    box-shadow: 0 0 10px #1BA5E0;
}
#characterForm label {
    /*display: inline-block;*/
    display: block;
    cursor: pointer;
    padding:0px;
}
#characterForm label img {
  margin-top:3px;
  margin-left:2px;
  margin-right: 2px;
  border:1px solid black;
}
#characterInfo{
  text-align: center;
}
#characterInfo h2{
  text-decoration: underline;
  margin: 0px;
}
#characterInfo p{
  font-size: 80%; 
  margin: 0px;
}
/*
  Styling for the difficulty choice page.
*/
#difficultyForm label {
    display: inline-block;
    cursor: pointer;
}
#difficultyForm label img {
/*  margin-top:3px;
  margin-left:2px;
  margin-right: 2px;*/
  border: 1px solid black;
}
#difficultyButton{
  margin-left:400px;
  margin-top: 2px;
  height:50px;

}
#difficultyStrip{
  margin-left:215px;
  margin-top:-10px;
}
#difficultyStrip label{
  cursor: pointer;
  /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);*/
  margin:0px auto;
}
/*
  Styling for the game page.
*/
#infoBox{
  position: absolute;
  top:5px;
  right:5px;
  background-color: rgba(0,0,0,.7);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  color: white;

  -moz-border-radius:10px;-webkit-border-radius:10px;
  border-radius:10px;
}
#opponentCards{
  width:700px;
  height:200px;
  background-color: rgba(0,0,0,.7);
  margin: 0px auto;
  position: relative;
  top:-35px;
}
#discardPile{
  width:135px;
  height:175px;
  background-color: rgba(0,0,0,.2);
  float: left;
  margin-left:150px;
  cursor: pointer;
  -moz-border-radius:10px;-webkit-border-radius:10px;
  border-radius:10px;
}
#deck{
  width:135px;
  height:175px;
  background-color: rgba(0,0,0,.2);
  float: right; 
  margin-right:150px;
  cursor: pointer;
  -moz-border-radius:10px;-webkit-border-radius:10px;
  border-radius:10px;
}
#currentCard{
  width:200px;
  height:300px;
  background-color: rgba(0,0,0,.7);
  position: relative;
  right: 120px;
  top:-20px;
  -moz-border-radius:10px;-webkit-border-radius:10px;
  border-radius:10px;
}
#knockButton{
  font:1.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  margin-top: 10px;
  width:100px;
  position: relative;
  right: 70px;
}
#playerCards{
  width:700px;
  height:200px;
  background-color: rgba(0,0,0,.7);
  margin: 0px auto;
  position: relative;
  top:-135px;
}
.card{
  display: inline-block;
  width:135px;
  height:175px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 5px;

  -moz-border-radius:10px;-webkit-border-radius:10px;
  border-radius:10px;
}
.cardShine{
  width:135px;
  height:50px;

  background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* W3C */
  box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.7);

  -moz-border-radius:10px;-webkit-border-radius:10px;
  border-radius:10px;
  border-bottom-right-radius: 100px 40px;
  border-bottom-left-radius: 100px 40px;
}
#opCard1, #playerCard1{
  margin-left:65px;
}

/*
  Styling for the top ten scores page.
*/
#topTen{
  width:700px;
  background-color: rgba(0,0,0,.7);
  margin:0px auto;
  color: white;
  text-align: center;
  padding:10px;
  -moz-border-radius:10px;-webkit-border-radius:10px;
  border-radius:10px;
  padding-bottom: 20px;
  margin-top: 70px;
}
.even{
  background-color: rgba(255,115,115,.2);
}
.odd{
}
#topTen ul{
  list-style: none;
  padding: 0px;
  margin:0px;
  text-align: center;
}
.playerName{
  color:rgba(255,115,115,1);
  padding-top:5px;
  padding-bottom:5px;
}
.playerScore{
  color:rgba(255,115,115,1);
  padding-top:5px;
  padding-bottom:5px;
}
#homeButton{
  width:100px;
  font:1.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  margin-top: 30px;
}

/*
  Styling for links on the credit page
*/
a.credits:link {text-decoration:none; color: #000000 !important;}   /* unvisited link */
a.credits:visited {text-decoration:none; color: #000000 !important;} /* visited link */
a.credits:hover {text-decoration:underline;}  /* mouse over link */
a.credits:active {text-decoration:none;} /* selected link */


